---
import Default from '@astrojs/starlight/components/PageTitle.astro';

import type { Props } from '@astrojs/starlight/props';

const { subtitle } = Astro.props.entry.data;
---

<Default {...Astro.props}>
	<slot />
</Default>
{subtitle && <p class="mt-1 text-lg">{subtitle}</p>}
